.hero-wrapper {
  z-index: 40;
}
.hero-image {
  height: 80vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 28vh;
  padding-bottom: 28vh;
}
.hero-text-area h1 {
  font-size: 26px;
  text-align: right;
  color: #fff;
  padding: 0 4vh;
  line-height: 36px;
}
.hero-text-area h2 {
  color: #fff;
  font-size: 18px;
  text-align: right;
  padding: 0 4vh;
}