/* .hero-wrapper {
  z-index: 40;
} */
.hero__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 1rem;
}
.hero__text h1, .hero__text h2 {
  color: #fff;
}
.hero__text {
  text-align: right;
}

/* Use a mix in when you get SASS going */
