.two-column__row {
  display: flex;
  flex-wrap: wrap;
}
.two-column__column {
  flex: 1 1 100%;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .two-column__column {
    flex: 1 1 50%;
  }
}