.services__row {
  display: flex;
  flex-wrap: wrap;
}
.services__title {
  text-align: center;
}
.service__column {
  text-align: center;
  flex: 1 1 100%;
  max-width: 100%;
  /* max-width: 100%; This is a know bug */
}
@media screen and (min-width: 768px) {
  .service__column {
    flex: 1 1 25%;
    max-width: 25%;
  }
}
.fa {
  font-size: 100px !important;
  color: #ca6;
  margin-bottom: 30px;
}
.column {
  flex: 1 1 100%;
  padding: 15px;
}

/* flex: 1 1 25%;
max-width: 25%;
max-width: 25%; This is a know bug */